{% extends "groups/group_base.html" %}

{% block pregroup %}


<h1>{{group.name}}</h1>
<h2> Member Count: {{group.members.count}}</h2>

<div class="content">


		{% if user in group.members.all %}
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" value='{{ group.pk }}' name='jb_{{ group.pk }}' id='{{ group.pk }}' 
				{% if user in group.members.all %} checked >Your in {% else %}>Join {% endif %}{{ group.name }} # {{ group.pk }}
			<br>
			<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">❌ Leave</a>
		</div>

		{% else %}
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" name='jb_{{ group.pk }}' id='{{ group.pk }}' 
				{% if user in group.members.all %} checked >Your in {% else %}>Join {% endif %}{{ group.name }} # {{ group.pk }}
			<br>
			<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-success">➕ Join</a>
		</div>
		{% endif %}
		<input type="text" name="test" size="100">

</div>

{% endblock %}

{% block group_content %}

<div class="col-md-8">
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}

		{% for post in group.posts.all %}
		<!-- inject a HTML file it to this one. -->
			{% include "posts/_post.html" %}

		{% endfor %}

	{% endif %}
</div>
{% endblock %}
